
.containerSort:hover{
    background-color: rgb(208, 255, 0);
}


.sortName{
    margin-top: -38px;
	height: 35px;
	width: 160px;
	text-align: center;
	font-size: 20px;
	border: none;
	background-color: rgb(88, 8, 238);
    border-radius: 12px;
	color: rgb(0, 215, 253);
    box-shadow: rgb(4, 217, 255) 0px 5px 3px;
}

.sortName:hover{
    background-color: #FEDB39;
	color: rgba(2, 0, 36, 1);
}


.sortAttack{
    margin-top: -38px;
	height: 35px;
	width: 160px;
	text-align: center;
	font-size: 20px;
	border: none;
	background-color: rgb(88, 8, 238);
	color: rgb(0, 215, 253);
    border-radius: 12px;
    box-shadow: rgb(4, 217, 255) 0px 5px 3px;
}

.sortAttack:hover{
    background-color: #FEDB39;
	color: rgba(2, 0, 36, 1);
}
