@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

a:link, a:visited, a:active {
  text-decoration:none;
}

.card {
    width: 18vw;
    height: 40vh;
    background-image: url('https://i.pinimg.com/564x/2d/e3/8c/2de38c028b4482891a538ec55f7c74ed.jpg');    border-radius: 12px;
    display: flex;
    margin: 40px 35px 110px 100px; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-decoration: none;
  }
  
  .cardGradient {
    background-color: #fff;
    background: linear-gradient(
      180deg,
      rgba(69, 133, 193, 0.8183648459383753) 0%,
      rgba(127, 159, 255, 0.742734593837535) 100%
    );
    height: 50%;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 40px;
    z-index: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 25px;
    object-fit: cover;
    flex-grow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  .card:hover {
    box-shadow: -2px 5px 21px 4px rgba(44, 118, 255, 0.3);
    cursor: pointer;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .card:hover .cardGradient {
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #eb2540 100%);
  }
  
  .typesCard {
    display: flex;
    flex-direction: row;
    font-size: 50%;
    text-transform: uppercase;
 }
  
  .typesCard p {
    margin: 5px 5px;
    padding: 6px 10px;
    background-image: radial-gradient(
      circle 588px at 31.7% 40.2%,
      rgb(101, 255, 62) 21.4%,
      rgb(222, 255, 35) 57.1%
    );
    color: #000;
    border-radius: 12px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
    text-decoration: none;
  }
  
  .card img {
    max-width: 250px;
    max-height: 200px;
  }
  
  .pokemonName {
    margin-top: 3px;
  }
  
  .pokemonImg {
    padding: 15px 0px;
    max-height: 25vh;
  }
  
  /* CSS ANIMATIONS */
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes pulse {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  /* Card Gradient */
  
  @-webkit-keyframes slideInLeft {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes slideInLeft {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }